[Unit]
Description=Yet Another SKK server2

[Service]
ExecStart=/usr/sbin/yaskkserv2 --no-daemonize --google-japanese-input=notfound /home/yuya373/.config/yaskkserv2/dict.yaskkserv2

[Install]
WantedBy=default.target