{
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "globals": {
    "_": true,
    "$": true,
    "React": true
  },
  "env": {
    "jquery": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "semi": 2,
    "arrow-body-style": 2,
    "arrow-parens": 2,
    "arrow-spacing": 2,
    "no-var": 2,
    "prefer-const": 2,
    "object-shorthand": 2,
    "prefer-rest-params": 2,
    "prefer-spread": 2,
    "prefer-template": 2,
    "template-curly-spacing": 2,
    "consistent-return": 2
  },
  "___rules": {
    "generator-star-spacing": 2,
    "no-useless-constructor": 2,
    "prefer-arrow-callback": 2,
    "prefer-reflect": 2,
    "require-yield": 2,
    "yield-star-spacing": 2,
    "react/jsx-pascal-case": 2
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
