[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "opp.zsh"]
	path = opp.zsh
	url = https://github.com/hchbaw/opp.zsh.git
[submodule "zsh-notify"]
	path = zsh-notify
	url = https://github.com/marzocchi/zsh-notify
[submodule "cdd"]
	path = cdd
	url = https://github.com/m4i/cdd
[submodule "git-it-on.zsh"]
	path = git-it-on.zsh
	url = https://github.com/peterhurford/git-it-on.zsh
[submodule "zsh-vimode-visual"]
	path = zsh-vimode-visual
	url = git@github.com:b4b4r07/zsh-vimode-visual.git
