*.elc
.DS_Store
99-private.el
/.emacs.d/abbrev_defs
/.emacs.d/company-statistics-cache.el
/.emacs.d/el-get/*
/.emacs.d/elpa/*
/.emacs.d/eshell/*
/.emacs.d/persp-confs/*
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/recentf
/.emacs.d/ensime
/.emacs.d/emojis
/.emacs.d/url
/.emacs.d/private
/.emacs.d/inits/elm-stuff
