[core]
  editor = "emacsclient -c --alternate-editor vim"
  pager = less
  quotepath = false
[include]
  path = ~/.gitconfig_local
[alias]
  co = checkout
  br = branch
  cm = commit
  st = status
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  mt = mergetool
  ap = add -p
  rb = rebase
  rbc = rebase --continue
  rba = rebase --abort
  rbs = rebase --skip
  rs = reset --soft
  p = push
  pf = push -f
  puu = push -u
  ppr = !vim PULLREQ_MSG
  pr = !~/dotfiles/pullreq.sh
[push]
  default = simple
[mergetool]
  keepBackup = false
[merge]
  tool = vimdiff
[gc]
  auto = 1
[diff]
  algorithm = histogram
  indentHeuristic = true
[commit]
  verbose = true
[user]
  email = yuya373@me.com
  name = "Yuya Minami"
[ghq]
  root = "~/dev"
  root = "~/go/src"
  root = "~/dotfiles"
[credential "https://github.com"]
	helper = 
	helper = !`which gh` auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !`which gh` auth git-credential
[url "https://github.com/"]
	insteadOf = ssh://git@github.com/
