[core]
  editor = vim
  pager = less
  quotepath = false
[include]
  path = ~/.gitconfig_local
[alias]
  co = checkout
  br = branch
  cm = commit
  st = status
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  mt = mergetool
  ap = add -p
[push]
  default = simple
[mergetool]
  keepBackup = false
[merge]
  tool = vimdiff
